@model Models.PecaEstoque

<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Codigo" class="form-label"></label>
        <input asp-for="Codigo" class="form-control" />
        <span asp-validation-for="Codigo" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="UnidadeMedida" class="form-label"></label>
        <input asp-for="UnidadeMedida" class="form-control" />
        <span asp-validation-for="UnidadeMedida" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="EstoqueMinimo" class="form-label"></label>
        <input asp-for="EstoqueMinimo" class="form-control" />
        <span asp-validation-for="EstoqueMinimo" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="PrecoVenda" class="form-label"></label>
        <input asp-for="PrecoVenda" class="form-control" />
        <span asp-validation-for="PrecoVenda" class="text-danger"></span>
    </div>
</div>
